body
{
    font-family: sans-serif;
    margin: 0;
}
.section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    background-color: #fab1a0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.envelope
{
    position: relative;
    width: 200px;
    height: 110px;
}
.envelope__top
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
}
.envelope__body
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.paper
{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 80px;
    margin-left: -50px;
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
    text-align: center;
    background-color: #fff;
}

.envelope__top_close
{
    z-index: 2;
    -webkit-transform: translateY(-110%) rotateX(180deg);
            transform: translateY(-110%) rotateX(180deg);
}
.paper_close
{
    height: 40px;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
}
